@font-face {
    font-family: 'Lora' sans-serif;
    src: url('fonts/Lora-Regular.ttf');
}
@font-face {
    font-family: 'Lato' sans-serif;
    src: url('fonts/Lato-Regular.ttf');
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
}

.main {
    width: 100%;
}

.services {
    width: 100%;
}
.services__header {
    padding-bottom: 65px;
}

.services__title {
    text-transform: uppercase;
    font-family: Lora sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 55px;
}

.services__logo {
    display: block;
    max-width: 22.5px;
    margin: 0 auto;
    position: relative;
}

.services__logo::after {
    content: '';
    display: block;
    width: 111px;
    height: 2px;
    left: 30px;
    top: 50%;
    background: #ec5598;
    position: absolute;
}

.services__logo::before {
    content: '';
    display: block;
    width: 111px;
    height: 2px;
    right: 30px;
    top: 50%;
    background: #ec5598;
    position: absolute;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 67px;
    margin: 0 auto;
    padding-bottom: 105px;
    width: 100%;
    height: max-content;
}

.services__card {
    position: relative;
    max-width: 330px;
    width: 100%;
    height: 400px;
}

.card__content {
    position: absolute;
    bottom: -45px;
    right: 0;
    padding: 20px 15px 20px 18px;
    background-color: white;
    box-shadow: 0px 15px 55px 0px #00000014;

    max-width: 300px;
    width: 100%;
    height: 145px;
}

.card__title {
    font-family: Lora;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 5px;
}

.card__description {
    display: inline-block;
    max-width: 218px;
    font-family: Lato, sans-serif;
    line-height: 22px;
    font-size: 14px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 20px;
}

.card__link {
    position: relative;
    display: inline-block;
    width: 100%;
    color: #ec5598;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: right;
}

.card__link::before {
    content: '';
    display: block;
    width: 46px;
    height: 1.5px;
    right: 90px;
    top: 50%;
    background: #ec5598;
    position: absolute;
}

.services__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    color: #ff427f;
    font-weight: 600;
    line-height: 24px;
    width: 240px;
    height: 60px;
    border-radius: 2px;
    border: 1.5px solid #ff427f;
}

.services__card:nth-child(1) {
    background-image: url(../assets/Services/firstItem.png);
}

.services__card:nth-child(2) {
    background-image: url(../assets/Services/secondItem.png);
}

.services__card:nth-child(3) {
    background-image: url(../assets/Services/thirdItem.png);
}
